.ContenedorDaniela{
    min-height: 30em;
    margin-top: -75px;
}


.Central {
    display: inline-block;
    position: relative;
    color: #846851;
  }
  
.Central::after, .Central::before {
    content: "";
    position: absolute;
    width: calc(45vw - 20px);
    height: 4px;
    top: 0.8em;
    background: #736357;
    margin: 0 10px;
  }
  
  .Central::after {
    left: -45vw;
  }
  
  .Central::before {
    right: -45vw;;
  }
  
  
.container_Nosotros{
    margin-top: 10px;
    width: 87%;
    height:auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.title_principal{
    text-align: center;
    width: 90%;
    overflow: hidden;
}

.cards{
    width: 110%;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
}

.card{
    width: 60%;
    height: 30%; 
    background-color: #C7B299;
    border-radius: 15px;
    position: relative;
    margin-bottom: 70px;
}

.card-title{
    background-color: #846851;
    border-radius: 15px 15px 0 0;
    text-align: center;
    height: 90px;
    color: #fff;
    font-size: 25px;
}

.card-body{
    text-align: justify; 
    display:flex;
    min-height: 110px;
    padding: 10px 30px 25px 285px; 
}

.image{
    position: absolute;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-image: url(../../../public/img/ImgArtifice/Hv/Daniela.PNG);
    background-size: cover;
    z-index: 1;
    left: 20px;
    top: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
} 

@media(max-width:1280px){
    .image{
        top: 30px; 
    }
    .card{
        margin-bottom: 70px; 
        height: 10px;
    }
    .card-body{
        background-color: #C7B299;
        border-end-end-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .ContenedorDaniela{
        min-height: 33em;
    }
}

@media(max-width:1024px){
    .image{
        top: 110px; 
    }
    .card{
        margin-bottom: 200px; 
    }
    .ContenedorDaniela{
        min-height: 37em;
    }
}

@media(max-width:920px){
    .image{ 
        left: 50%; 
        transform:translateX(-50%); 
        width: 230px;
        height: 230px;
        border-radius: 50%;
        margin-top: 10px;
    }
    .card{

        margin-bottom: 100px; 
    }
    .card-body{
        padding: 270px 20px 25px 20px; 
    }
    .ContenedorDaniela{
        min-height: 44em;
    }
}

@media(max-width:850px){
    .image{ 
        left: 50%; 
        transform:translateX(-50%); 
        top: 90px; 
    }

    .card{
        width:80%; 
    }

    .card-body{
        padding: 270px 20px 25px 20px; 
    }
    .ContenedorDaniela{
        min-height: 49em;
    }
}

@media(max-width:365px){
    .image{ 
        left: 50%; 
        transform:translateX(-50%); 
        width: 210px;
        height: 210px;
        border-radius: 50%;
        margin-top: 20px;
        margin-bottom: -10px;
    }
    .card-body{
        margin-top: -30px;
    }
    .card{
        margin-bottom: 100px;
    }
    .Central{
        font-size: 30px;
    }
    .Central::after, .Central::before {
        content: "";
    }
    .ContenedorDaniela{
        min-height: 51em;
    }
}
@media(max-width:320px){
    .image{ 

        width: 200px;
        height: 200px;
    }
    .card{
        margin-top: auto;
        margin-left: auto; 
        margin-right: auto; 
        margin-bottom: 150px;
    }
    .Central{
        margin-left: 10px;
        margin-right: -10px;
        font-size: 32px;
    }
    .ContenedorDaniela{
        min-height: 59em;
    }
}

@media(max-width:260px){
    .image{ 
        width: 180px;
        height: 180px;
        margin-top: 20px;
        margin-bottom: -10px;
    }
    .card-body{
        margin-top: -50px;
    }
    .ContenedorDaniela{
        min-height: 62em;
    }
}